/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#seccion-contacto {
  background: #1b2a4e;
  min-height: 200px;
}

.w-100 {
  background: #1b2a4e;
  min-height: 200px;
}


.fs-5 {
  color: white;
}