body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #333;
    font: 20px;
}

<p> {
    color: #000;
    font-size: 12px;
}

h2 {
    color: #666;
    font-size: 16px;
}

ul {
    color: #000;
    font-size: 12px;
}