body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #333;
    font-size: 20px;
}

p {
    color: #000;
    font-size: 12px;
}

h2 {
    color: #666;
    font-size: 16px;
}

ul {
    color: #000;
    font-size: 12px;
}

table, th, td {
    font-size: 12px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
  }

  thead {
    color: white;
    background-color: #666;
  }

  caption {
    color: #000;
    font-size: 14px;
  }

  tbody {
    background-color: #fff;
  }

  tfoot {
    background-color: #ccc;
  }

  a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px  ;
  }